@charset "UTF-8";
.center {
  display: flex;
  justify-content: center;
  align-items: center; }

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.big-header {
  background: #555555;
  position: fixed;
  width: 100%;
  top: 0; }
  .big-header .header {
    width: 1200px;
    padding: 20px; }
    .big-header .header .name a {
      font-size: 30px;
      color: white; }
    .big-header .header .name span {
      color: #4c98c9; }
    .big-header .header .navbar {
      width: 600px; }
      .big-header .header .navbar ul li a {
        font-size: 20px;
        color: white; }
        .big-header .header .navbar ul li a span {
          color: #4c98c9; }
        .big-header .header .navbar ul li a:hover {
          color: #4c98c9; }

.background {
  margin-top: 74px;
  background: url(http://themes.iki-bir.com/creatink/style/images/art/slider-bg19.jpg);
  width: 100%;
  height: 600px;
  background-position: center center;
  background-size: cover; }
  .background .big-content {
    margin: 0px 0 40px 0; }
    .background .big-content h1 {
      margin-top: 140px;
      font-size: 50px;
      animation-name: phai;
      animation-duration: 4s;
      animation-timing-function: linear;
      opacity: 1;
      animation-fill-mode: forwards;
      animation-iteration-count: infinite; }
  .background .mini-content {
    font-size: 30px;
    animation-name: trai;
    animation-duration: 2s;
    animation-delay: 2s;
    opacity: 0;
    animation-fill-mode: forwards; }
  .background .big-click {
    margin: 40px; }
    .background .big-click .mini-click {
      width: 180px;
      height: 40px;
      background: #4c98c9;
      align-items: center;
      -moz-border-radius: 10px;
      -webkit-border-radius: 10px;
      color: white;
      animation-name: top;
      animation-duration: 2s;
      animation-delay: 4s;
      opacity: 0;
      animation-fill-mode: forwards; }
      .background .big-click .mini-click p {
        padding: 5px; }

.icon-top {
  position: fixed;
  bottom: 20px;
  right: 20px; }
  .icon-top i {
    font-size: 40px;
    color: black; }

@keyframes phai {
  0% {
    transform: translateX(-300px);
    opacity: 1; }
  50% {
    transform: translateX(300px);
    opacity: 1; }
  100% {
    transform: translateX(-300px);
    opacity: 1; } }

@keyframes trai {
  from {
    transform: translateX(30px);
    opacity: 0; }
  to {
    transform: translateX(0px);
    opacity: 1; } }

@keyframes top {
  from {
    transform: translatey(30px);
    opacity: 0; }
  to {
    transform: translatey(0px);
    opacity: 1; } }

/* cách đặt biến css
$main-color:aqua; */
