.center {
  display: flex;
  justify-content: center;
  align-items: center; }

.flex {
  display: flex; }

.center-co {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.big {
  background: url("https://demo.w3layouts.com/demos_new/template_demo/06-03-2019/triple_forms-demo_Free/1611343419/web/images/b4.jpg");
  background-size: cover;
  background-position: center; }
  .big .container .title h1 {
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    margin: 30px 30px 80px 30px;
    color: white; }
  .big .container .content .left img {
    width: 266px;
    height: 371px; }
  .big .container .content .mid a .icon {
    background: white;
    width: 230px;
    height: 124px;
    border-right: #CDCDB4 1px solid; }
    .big .container .content .mid a .icon i {
      font-size: 30px;
      color: black;
      margin-bottom: 10px; }
    .big .container .content .mid a .icon p {
      color: black; }
  .big .container .content .mid a .icon-login {
    background: #00ad45;
    width: 230px;
    height: 124px;
    border-right: #CDCDB4 1px solid; }
    .big .container .content .mid a .icon-login i {
      font-size: 30px;
      color: white;
      margin-bottom: 10px; }
    .big .container .content .mid a .icon-login p {
      color: white; }
  .big .container .content .mid a:focus .icon {
    background: #00ad45;
    border-right: black 1px solid; }
    .big .container .content .mid a:focus .icon i {
      color: white; }
    .big .container .content .mid a:focus .icon p {
      color: white; }
  .big .container .content .right {
    width: 570px;
    height: 371px;
    background: white;
    text-align: center; }
    .big .container .content .right h1 {
      margin: 40px; }
    .big .container .content .right .user {
      margin-bottom: 20px;
      position: relative; }
      .big .container .content .right .user input {
        padding: 15px;
        background: #CDCDB4;
        width: 500px;
        padding-left: 40px; }
      .big .container .content .right .user i {
        position: absolute;
        transform: translate(100%, 90%); }
      .big .container .content .right .user input::-webkit-input-placeholder {
        margin-left: 30px; }
    .big .container .content .right .pass {
      position: relative; }
      .big .container .content .right .pass input {
        padding: 15px;
        background: #CDCDB4;
        width: 500px;
        padding-left: 40px; }
      .big .container .content .right .pass input::-webkit-input-placeholder {
        margin-left: 30px; }
      .big .container .content .right .pass i {
        position: absolute;
        transform: translate(100%, 90%); }
    .big .container .content .right .button {
      margin-top: 30px; }
      .big .container .content .right .button button {
        padding: 15px;
        width: 500px;
        background: #00ad45;
        cursor: pointer;
        color: white;
        font-weight: bold; }
      .big .container .content .right .button button:hover {
        background: #00ad46; }
    .big .container .content .right .for {
      margin-top: 50px;
      margin-bottom: 40px; }
      .big .container .content .right .for a {
        color: #8B8B7A; }
  .big .container .foot {
    margin-top: 100px;
    margin-bottom: 20px;
    text-align: center;
    color: white; }
    .big .container .foot a {
      color: white; }
