.container {
  display: flex;
  justify-content: center;
  align-items: center; }
  .container .content {
    margin: 50px;
    display: flex;
    justify-content: space-between; }
    .container .content .img {
      display: flex;
      flex-direction: column; }
      .container .content .img .color {
        margin-top: 30px;
        display: flex;
        justify-content: space-between; }
        .container .content .img .color img {
          width: 50px;
          height: 50px;
          opacity: 0; }
        .container .content .img .color .blue {
          cursor: pointer;
          width: 50px;
          height: 50px;
          background: #0033FF;
          opacity: 0.3; }
        .container .content .img .color .green {
          cursor: pointer;
          width: 50px;
          height: 50px;
          background: #009933;
          opacity: 0.3; }
        .container .content .img .color .red {
          cursor: pointer;
          width: 50px;
          height: 50px;
          background: #FF3300;
          opacity: 0.3; }
        .container .content .img .color .white {
          cursor: pointer;
          width: 50px;
          height: 50px;
          background: #696969;
          opacity: 0.3; }
        .container .content .img .color .black {
          cursor: pointer;
          width: 50px;
          height: 50px;
          background: #1C1C1C;
          box-shadow: 1px 3px #999999; }
    .container .content .price {
      margin-left: 50px;
      width: 500px; }
      .container .content .price fieldset legend {
        margin: 0 20px;
        padding: 20px 10px;
        font-size: 25px;
        font-weight: bold; }
      .container .content .price fieldset .info {
        display: flex;
        justify-content: space-between; }
        .container .content .price fieldset .info .name {
          padding-left: 32px; }
          .container .content .price fieldset .info .name p {
            font-family: 'Montserrat', sans-serif; }
        .container .content .price fieldset .info .price-mini {
          padding-right: 32px; }
          .container .content .price fieldset .info .price-mini p {
            font-family: 'Montserrat', sans-serif; }
      .container .content .price fieldset .thongtin {
        margin: 20px 32px; }
        .container .content .price fieldset .thongtin p {
          font-family: 'Montserrat', sans-serif; }
      .container .content .price fieldset .size {
        margin: 0 32px;
        width: 150px;
        display: flex;
        flex-direction: column; }
        .container .content .price fieldset .size .which-size {
          margin: 15px 0;
          display: flex;
          justify-content: space-between; }
          .container .content .price fieldset .size .which-size p {
            cursor: pointer;
            padding-top: 10px;
            width: 40px;
            height: 40px;
            text-align: center;
            border: double black 1px;
            border-radius: 50%; }
      .container .content .price fieldset .cout {
        display: flex;
        align-items: center; }
        .container .content .price fieldset .cout .left {
          margin: 10px 32px;
          display: flex;
          align-items: center; }
          .container .content .price fieldset .cout .left p {
            font-weight: bold; }
          .container .content .price fieldset .cout .left input {
            width: 100px;
            margin-left: 10px;
            padding: 5px;
            background: #DCDCDC;
            outline: #1C1C1C solid 1px; }
        .container .content .price fieldset .cout .right {
          display: flex;
          margin-left: 20px; }
          .container .content .price fieldset .cout .right p {
            font-weight: bold;
            margin-right: 10px; }
      .container .content .price fieldset .button {
        margin: 32px; }
        .container .content .price fieldset .button button {
          cursor: pointer;
          padding: 10px 13px;
          background: #FF3300;
          border: solid 1px black;
          color: white;
          font-family: 'Montserrat', sans-serif; }
