body{
    background: url("https://demo.w3layouts.com/demos_new/template_demo/07-01-2019/pet_found_form-demo_Free/1599140175/web/images/b1.jpg");
    background-size: cover;
    .header{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 50px 0 40px 0;
      h1{
          color: white;
          font-family: 'Barlow', sans-serif;
          font-size: 49px;
          letter-spacing: 5px;
          text-shadow: 2px 3px rgba(0, 0, 0, 0.42);
      }
    }
    .big-form{
        display: flex;
        justify-content: center;
        align-items: center;
        .mini-form{
            width: 980px;
            height: 580px;
            background: rgba(0, 0, 0, 0.44);
            padding: 30px;
            border: 6px #000 double;
            .form{
                display: flex;
                justify-content: space-between;
                .child{
                    width: 31%;
                    form{
                        display: flex;
                        flex-direction: column;
                        input[type="text"],input[type="number"]{
                            padding: 15px 0;
                            border-bottom: 1px solid white;
                            margin: 5px 0;
                            font-size: 15px;
                        }
                        input::-webkit-input-placeholder{
                            color: white;
                            letter-spacing: 2px;
                        }
                        label{
                            margin:20px 0;
                            color: white;
                            font-size: 15px;
                            input[type="radio"]{
                                margin-top: 10px;
                                color: white;
                                margin-right: 5px;
                                margin-left: 5px;
                            }
                        }
                    }
                }
            }
            .comment{
                margin-top: 30px;
                input{
                    border-bottom:  white 2px solid;
                    width: 910px;
                    padding-bottom: 100px;
                }
                input::-webkit-input-placeholder{
                    color: white;
                    letter-spacing: 2px;
                    padding-top: none;
                    font-size: 15px;
                }
            }
            input[type="file"]{
                margin-top: 20px;
                color: white;
                font-size: 16px;
            }
            .button{
                margin-top: 20px;
                margin-bottom: 25px;
                button{
                    width: 910px;
                    padding: 10px;
                    background: white;
                    font-weight: bold;
                }
            }
           
        }
    }
    .foot{
        margin: 15px 0;
        letter-spacing: 3px;
        text-align: center;
        p{
            color: white;
            a{
                color: black;
            }
        }
    }
  }