.container-1{
    width: 1280px;
    margin: 0 auto;
    .big-navbar{
        .navbar{
            display: flex;
            align-items: center;
            justify-content: space-between;
            .left{
                margin-right: 100px;
                padding-left: 145px;
                img{
                    width: 140px;
                    height: 45px;
                }
            }
            .center{
                ul{
                    display: flex;
                    li{
                        margin-right: 20px;
                        a{
                            text-transform: uppercase;
                            color: #b6c0c1;
                            &:hover{
                                color: #e94e38;
                                transition: all 0.3s ease-in;
                            }
                        }
                    }
                }
            }
            .right{
                display: flex;
                .icon-left{
                    width: 74px;
                    height: 74px;
                    cursor: pointer;
                    background: #e2dee0;
                    color: #fff;
                    &:hover{
                        background: #528B8B;
                        transition: all 0.3s ease;
                    }
                }
                .icon-right{
                    display: flex;
                    align-items: center;
                    width: 312px;
                    height: 74px;
                    display: flex;
                    cursor: pointer;
                    background: #e94e38;
                    color: #fff;
                    i{
                        padding: 40px 25px;
                    }
                    &:hover{
                        background: #528B8B;
                        transition: all 0.3s ease;
                    }
                    p{
                        text-transform: uppercase;
                    }
                }
            }
        }
    }
    .background{
        background: url("../img/bao3.png");
        h1{
            padding: 58px 0 30px 0;
            color: #fff;
        }
        .drop{
            position: relative;
            width: 475px;
            color: #fff;
            .mini-drop-left{
                font-size: 18px;
                cursor: pointer;
                width: 222px;
                padding: 18px 30px;
                position: relative;
                &:after{
                    width: 100%;
                    height: 100%;
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 0;
                    background: #fff;
                    opacity: 0.2;
                    border-radius: 25px;
                }
            }
            .mini-drop-right{
                font-size: 18px;
                cursor: pointer;
                width: 222px;
                padding: 18px 30px;
                position: relative;
                &:after{
                    width: 100%;
                    height: 100%;
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 0;
                    background: #fff;
                    opacity: 0.2;
                    border-radius: 25px;
                }
            }
            .dropdown{
                display: none;
                position: absolute;
                z-index: 200;
                background: #fff;
                border-radius: 10px;
                padding: 20px;
                width: 225px;
                transform: translate(-13%,60%);
                ul{
                    display: flex;
                    flex-direction: column;
                    li{
                        padding-left: 20px;
                        margin-bottom: 20px;
                        &:hover{
                            a{
                                color: #e94e38;
                                transition: all 0.3s ease;
                            }
                        }
                        a{
                            color: black;
                        }
                        &:last-child{
                            margin-bottom: 0;
                        }
                    }
                }
            }
            .dropdown-1{
                display: none;
                position: absolute;
                z-index: 200;
                background: #fff;
                border-radius: 10px;
                padding: 20px;
                width: 225px;
                transform: translate(-13%,60%);
                ul{
                    display: flex;
                    flex-direction: column;
                    li{
                        padding-left: 20px;
                        margin-bottom: 20px;
                        &:hover{
                            a{
                                color: #e94e38;
                                transition: all 0.3s ease;
                            }
                        }
                        a{
                            color: black;
                        }
                        &:last-child{
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
        .input{
            margin: 20px 0 30px 0;
            width: 475px;
            position: relative;
            &:after{
                content: '';
                width: 100%;
                height: 100%;
                background: #fff;
                opacity: 0.2;
                position: absolute;
                left: 0;
                top: 0;
                z-index: 10;
                border-radius: 25px;
            }
            input{
                padding: 18px 30px;
                position: relative;
                z-index: 100;
                color: #fff;
                font-size: 18px;
                &::-webkit-input-placeholder{
                    color: #fff;
                }
            }

        }
        .button{
            padding-bottom: 38px;
            button{
                cursor: pointer;
                padding: 25px 35px;
                background: #e94e38;
                color: #fff;
                text-transform: uppercase;
                font-size: 18px;
                border-radius: 35px;
                &:hover{
                    color: #fff;
                    background: #a87cb4;
                    transition: all 0.3s ease-in;
                }
            }
        }
    }
    .tab{
        box-shadow: 0px 0px 6px rgba(0, 0, 0, 10);
        text-transform: uppercase;
        .mini-tab{
            padding: 10px 0;
            background: #ffffff;
            position: relative;
            .left{
                margin-right: 100px;
                ul{
                    display: flex;
                    li{
                        font-size: 12px;
                        margin-right: 20px;
                        &:last-child{
                            margin-right: 0px;
                        }
                        a{
                            color: #bdc6c7;
                            &:hover{
                                color: #e94e38;
                                transition: all 0.2s ease;
                            }
                        }
                    }
                }
            }
            .center{
                .drop{
                    cursor: pointer;
                    width: 125px;
                    margin-right: 14px;
                    &:last-child{
                        margin-right: 0px;
                    }
                    padding: 15px 20px;
                    border: solid 1px #cad2d3;
                    font-size: 12px;
                    border-radius: 20px;
                    &:first-child{
                        p{
                            color: #e94e38;
                        }
                    }
                }
            }
            .right{
                p{
                    color: #a6b3b4;
                    font-size: 12px;
                    margin-left: 65px;
                }
                .child{
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    margin-left: 10px;
                }
            }
            .map{
                display: none;
                position: absolute;
                left: 0;
                top: 100%;
                transform: translateY(30px);
                z-index: 200;
            }
        }
    }
    .gallery{
        position: relative;
        z-index: 2;
        background: #f3f1f2;
        .container-2{
            width: 950px;
            .four-img{
                display: flex;
                justify-content: space-between;
                padding: 45px 0 30px 0;
                .child{
                    position: relative;
                    width: 212px;
                    box-shadow: 0px 0px 2px rgba(0, 0, 0, 10);
                    .child-top{
                        cursor: pointer;
                        height: 140px;
                        position: relative;
                        img{
                            width: 212px;
                            height: 140px;
                        }
                        .cost{
                            width: 65px;
                            font-size: 12px;
                            color: #fff;
                            background: #1baf5d;
                            border-radius: 20px;
                            padding: 7px 0;
                            position: absolute;
                            right: 0;
                            top: 0;
                            transform: translate(-10px,10px);
                        }
                        .hover{
                            display: none;
                            z-index: 90;
                            color: #fff;
                            position: absolute;
                            left: 50%;
                            top: 50%;
                            transform: translate(-50%,-50%);
                            .top{
                                width: 138px;
                                border: 2px solid #fff;
                                border-radius: 20px;
                               .icon-top{
                                   padding: 10px 0;
                                   width: 100px;
                                   font-size: 12px;
                                   text-transform: uppercase;
                                    display: flex;
                                    i{
                                        margin-right: 7px;
                                    }
                                }
                            }
                            .icon-bottom{
                                margin-top: 18px;
                                display: flex;
                                font-size: 12px;
                                .left{
                                    display: flex;
                                    margin-right: 25px;
                                }
                            }
                        }
                        .hover-background{
                            z-index: 3;
                            width: 100%;
                            height: 100%;
                            position: absolute;
                            left: 0;
                            top: 0;
                            opacity: 0.9;
                            display: none;
                        }
                    }
                    .child-bot{
                        background: #fff;
                        .title{
                            padding: 35px 0 20px 0;
                            p{
                                width: 178px;
                                text-align: center;
                                font-size: 14px;
                                color: #566375;
                            }
                        }
                        h2{
                            font-size: 12px;
                            text-align: center;
                            text-transform: uppercase;
                        }
                        .icon{
                            padding: 7px 0 15px 0;
                            display: flex;
                            font-size: 12px;
                            i{
                                color: #f19e1f;
                            }
                            p{
                                color: #96a6a7;
                            }
                        }
                    }
                    .mid-icon{
                        z-index: 100;
                        width: 55px;
                        height: 55px;
                        padding: 15px 0;
                        border-radius: 50%;
                        position: absolute;
                        border: 2px solid #fff;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%,-50%);
                    }
                }
            }
            .two-img{
                display: flex;
                justify-content: space-between;
                .child{
                    box-shadow: 0px 0px 2px rgba(0, 0, 0, 10);
                    width: 455px;
                    height: 270px;
                    position: relative;
                    .child-top{
                        height: 120px;
                        position: relative;
                        img{
                            width: 100%;
                            height: 120px;
                        }
                        &:after{
                            z-index: 3;
                            content: '';
                            position: absolute;
                            left: 0;
                            bottom: 0;
                            width: 100%;
                            height: 30px;
                            background: black;
                            opacity: 0.3;
                        }
                        .content{
                            display: flex;
                            align-items: center;
                            position: absolute;
                            right: 50%;
                            bottom: 0;
                            transform: translate(50%,-10%);
                            z-index: 20;
                            h3{
                                width: 154px;
                                font-size: 18px;
                                text-transform: uppercase;
                                color: #fff;
                            }
                            i{
                                color: #f19e1f;
                                font-size: 12px;
                            }
                            h2{
                                color: #fff;
                                font-size: 12px;
                            }
                        }
                    }
                    .child-bot{
                        height: 150px;
                        background: #fff;
                        .icon{
                            display: flex;
                            font-size: 18px;
                            color: #f19e1f;
                            padding: 17px 100px;
                        }
                        .info{
                            display: flex;
                            .img{
                                padding: 0 24px;
                                img{
                                    width: 55px;
                                    height: 55px;
                                    border-radius: 50%;
                                }
                            }
                            .text{
                                h1{
                                    text-transform: uppercase;
                                    font-size: 16px;
                                    color: #566375;
                                }
                                p{
                                    font-size: 14px;
                                    padding: 15px 0 25px 0;
                                    color: #828a97;
                                    span{
                                        color: #566375;
                                        cursor: pointer;
                                        &:hover{
                                            color: black;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .icon-ab{
                        width: 57px;
                        height: 57px;
                        border-radius: 50%;
                        border: 2px solid #fff;
                        position: absolute;
                        left: 10%;
                        top: 50%;
                        transform: translate(-50%,-75%);
                        z-index: 20;
                    }
                }
            }
            .four-img-1{
                display: flex;
                justify-content: space-between;
                padding: 30px 0;
                .child{
                    position: relative;
                    width: 212px;
                    box-shadow: 0px 0px 2px rgba(0, 0, 0, 10);
                    .child-top{
                        cursor: pointer;
                        height: 140px;
                        position: relative;
                        img{
                            width: 212px;
                            height: 140px;
                        }
                        .cost{
                            width: 65px;
                            font-size: 12px;
                            color: #fff;
                            background: #1baf5d;
                            border-radius: 20px;
                            padding: 7px 0;
                            position: absolute;
                            right: 0;
                            top: 0;
                            transform: translate(-10px,10px);
                        }
                        .hover{
                            display: none;
                            z-index: 90;
                            color: #fff;
                            position: absolute;
                            left: 50%;
                            top: 50%;
                            transform: translate(-50%,-50%);
                            .top{
                                width: 138px;
                                border: 2px solid #fff;
                                border-radius: 20px;
                               .icon-top{
                                   padding: 10px 0;
                                   width: 100px;
                                   font-size: 12px;
                                   text-transform: uppercase;
                                    display: flex;
                                    i{
                                        margin-right: 7px;
                                    }
                                }
                            }
                            .icon-bottom{
                                margin-top: 18px;
                                display: flex;
                                font-size: 12px;
                                .left{
                                    display: flex;
                                    margin-right: 25px;
                                }
                            }
                        }
                        .hover-background{
                            z-index: 3;
                            width: 100%;
                            height: 100%;
                            position: absolute;
                            left: 0;
                            top: 0;
                            opacity: 0.9;
                            display: none;
                        }
                    }
                    .child-bot{
                        .title{
                            padding: 35px 0 20px 0;
                            p{
                                width: 178px;
                                text-align: center;
                                font-size: 14px;
                                color: #566375;
                            }
                        }
                        h2{
                            font-size: 12px;
                            text-align: center;
                            text-transform: uppercase;
                        }
                        .icon{
                            padding: 7px 0 15px 0;
                            display: flex;
                            font-size: 12px;
                            i{
                                color: #f19e1f;
                            }
                            p{
                                color: #96a6a7;
                            }
                        }
                    }
                    .mid-icon{
                        z-index: 100;
                        width: 55px;
                        height: 55px;
                        padding: 15px 0;
                        border-radius: 50%;
                        position: absolute;
                        border: 2px solid #fff;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%,-50%);
                    }
                }
            }
            .two-img-1{
                display: flex;
                justify-content: space-between;
                .child{
                    box-shadow: 0px 0px 2px rgba(0, 0, 0, 10);
                    width: 455px;
                    height: 280px;
                    position: relative;
                    .child-top{
                        height: 120px;
                        position: relative;
                        img{
                            width: 100%;
                            height: 120px;
                        }
                        &:after{
                            z-index: 3;
                            content: '';
                            position: absolute;
                            left: 0;
                            bottom: 0;
                            width: 100%;
                            height: 30px;
                            background: black;
                            opacity: 0.3;
                        }
                        .content{
                            display: flex;
                            align-items: center;
                            position: absolute;
                            right: 50%;
                            bottom: 0;
                            transform: translate(50%,-10%);
                            z-index: 20;
                            h3{
                                width: 154px;
                                font-size: 18px;
                                text-transform: uppercase;
                                color: #fff;
                            }
                            i{
                                color: #f19e1f;
                                font-size: 12px;
                            }
                            h2{
                                color: #fff;
                                font-size: 12px;
                            }
                        }
                    }
                    .child-bot{
                        height: 160px;
                        background: #fff;
                        .icon{
                            display: flex;
                            font-size: 18px;
                            color: #f19e1f;
                            padding: 17px 100px;
                        }
                        .info{
                            display: flex;
                            .img{
                                padding: 0 24px;
                                img{
                                    width: 55px;
                                    height: 55px;
                                    border-radius: 50%;
                                }
                            }
                            .text{
                                h1{
                                    text-transform: uppercase;
                                    font-size: 16px;
                                    color: #566375;
                                }
                                p{
                                    font-size: 14px;
                                    padding: 15px 0 25px 0;
                                    color: #828a97;
                                    span{
                                        color: #566375;
                                        cursor: pointer;
                                        &:hover{
                                            color: black;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .icon-ab{
                        width: 57px;
                        height: 57px;
                        border-radius: 50%;
                        border: 2px solid #fff;
                        position: absolute;
                        left: 10%;
                        top: 50%;
                        transform: translate(-50%,-75%);
                        z-index: 20;
                    }
                }
                .big-img{
                    display: flex;
                    justify-content: space-between;
                    width: 457px;
                    .kid{
                        height: 280px;
                        position: relative;
                        width: 212px;
                        box-shadow: 0px 0px 2px rgba(0, 0, 0, 10);
                        .kid-top{
                            cursor: pointer;
                            height: 140px;
                            position: relative;
                            img{
                                width: 212px;
                                height: 140px;
                            }
                            .cost{
                                width: 65px;
                                font-size: 12px;
                                color: #fff;
                                background: #1baf5d;
                                border-radius: 20px;
                                padding: 7px 0;
                                position: absolute;
                                right: 0;
                                top: 0;
                                transform: translate(-10px,10px);
                            }
                            .hover{
                                display: none;
                                z-index: 90;
                                color: #fff;
                                position: absolute;
                                left: 50%;
                                top: 50%;
                                transform: translate(-50%,-50%);
                                .top{
                                    width: 138px;
                                    border: 2px solid #fff;
                                    border-radius: 20px;
                                   .icon-top{
                                       padding: 10px 0;
                                       width: 100px;
                                       font-size: 12px;
                                       text-transform: uppercase;
                                        display: flex;
                                        i{
                                            margin-right: 7px;
                                        }
                                    }
                                }
                                .icon-bottom{
                                    margin-top: 18px;
                                    display: flex;
                                    font-size: 12px;
                                    .left{
                                        display: flex;
                                        margin-right: 25px;
                                    }
                                }
                            }
                            .hover-background{
                                z-index: 3;
                                width: 100%;
                                height: 100%;
                                position: absolute;
                                left: 0;
                                top: 0;
                                opacity: 0.9;
                                display: none;
                            }
                        }
                        .kid-bot{
                            background: #fff;
                            .title{
                                padding: 35px 0 20px 0;
                                p{
                                    width: 178px;
                                    text-align: center;
                                    font-size: 14px;
                                    color: #566375;
                                }
                            }
                            h2{
                                font-size: 12px;
                                text-align: center;
                                text-transform: uppercase;
                            }
                            .icon{
                                padding: 7px 0 15px 0;
                                display: flex;
                                font-size: 12px;
                                i{
                                    color: #f19e1f;
                                }
                                p{
                                    color: #96a6a7;
                                }
                            }
                        }
                        .mid-icon{
                            z-index: 100;
                            width: 55px;
                            height: 55px;
                            padding: 15px 0;
                            border-radius: 50%;
                            position: absolute;
                            border: 2px solid #fff;
                            left: 50%;
                            top: 50%;
                            transform: translate(-50%,-50%);
                        }
                    }
                }
            }
            .more{
                cursor: pointer;
                padding: 40px 0;
                position: relative;
                &:after{
                    content: '';
                    width: 100px;
                    height: 2px;
                    background: #d3d3d7;
                    position: absolute;
                    left: 50%;
                    bottom: 50%;
                    transform: translate(-50%,10px);
                }
                .more-ce{
                    display: flex;
                    color: #566375;
                    &:hover{
                        color: #e94e38;
                        transition: all 0.3s ease;
                    }
                    i{
                        margin-left: 10px;
                    }
                }
            }
            hr{
                width: 100%;
                height: 2px;
                margin-bottom: 85px;
            }
            .content-ab{
                background: #f3f1f2;
                margin-top: 80px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                h1{
                    color: #566375;
                    font-size: 22px;
                    margin-bottom: 15px;
                }
                p{
                    font-size: 16px;
                    color: #b2bcbd;
                    margin-bottom: 70px;
                }
            }
            .five-icon{
                margin-bottom: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                .baby{
                    position: relative;
                    z-index: 2;
                    border: solid 3px #1baf5d;
                    border-radius: 50%;
                    padding: 25px;
                    img{
                        width: 40px;
                        height: 40px;
                    }
                }
                .baby-1{
                    position: relative;
                    z-index: 2;
                    margin-left: 60px;
                    border: solid 3px #9dacad;
                    border-radius: 50%;
                    padding: 25px;
                    img{
                        width: 40px;
                        height: 40px;
                    }
                    &:before{
                        content: '';
                        position: absolute;
                        height: 2px;
                        width: 55px;
                        top: 50%;
                        left: 50%;
                        background: #9dacad;
                        transform: translate(-190%,-50%);
                    }
                }
            }
            .content-2{
                margin-bottom: 150px;
                h1{
                    text-transform: uppercase;
                    margin-bottom: 45px;
                    font-size: 22px;
                    text-align: center;
                    color: #1db05e;
                }
                .dis{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .child-5{
                        display: flex;
                        margin-right: 35px;
                        &:last-child{
                            margin-right: 0px;
                        }
                        width: 365px;
                        .left{
                            margin-right: 35px;
                        }
                        .right{
                            p{
                                font-size: 14px;
                                color:#566375;
                            }
                        }
                    }
                }
            }
        }
    }
    .last-content{
        background: url(../img/bao3.png);
        background-size: cover;
        .title{
            padding: 60px 0 45px 0;
            h1{
                color: #fff;
                font-size: 24px;
                text-align: center;
            }
        }
        .your-mail{
            padding-bottom: 55px;
            .input{
                width: 500px;
                height: 60px;
                position: relative;
                z-index: 10;
                &:after{
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 90%;
                    background: #fff;
                    opacity: 0.3;
                    border: solid 5px #fff;
                    border-radius: 35px;
                    z-index: 5;
                   
                }
                input{
                    font-size: 18px;
                    color: #fff;
                    padding: 20px 70px;
                    &::-webkit-input-placeholder{
                        color: #fff;
                        font-size: 18px;
                    }
                    position: relative;
                    z-index: 10;
                }
                .icon-input{
                    position: absolute;
                    top: 50%;
                    left: 10%;
                    transform: translate(-50%,-50%);
                    i{
                        font-size: 18px;
                        color: #fff;
                    }
                }
                .button-input{
                    cursor: pointer;
                    width: 120px;
                    height: 50px;
                    background: #e94e38;
                    border-radius: 25px;
                    position: absolute;
                    right: 10%;
                    top: 0;
                    transform: translate(40%,15%);
                    z-index: 20;
                    button{
                        font-size: 14px;
                        color: #fff;
                        text-transform: uppercase;
                    }
                    &:hover{
                        background: #528B8B;
                        transition: all 0.3s ease;
                    }
                }
            }
        }
       .last{
            .link{
                padding-bottom: 65px;
                width: 977px;
                display: flex;
                justify-content: space-between;
                color: #fff;
                .big{
                    font-size: 16px;
                    position: relative;
                    margin-bottom: 25px;
                    &:after{
                        content: '';
                        width: 80px;
                        height: 1px;
                        background: #fff;
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        transform: translateY(2px);
                    }
                }
                .left{
                    ul{
                        display: flex;
                        flex-direction: column;
                        li{
                            margin-bottom: 12px;
                            &:last-child{
                                margin-bottom: 0;
                            }
                            a{
                                color: #a29f9b;
                            }
                            &:hover{
                                a{
                                    color: #e94e38;
                                    transition: all 0.3s ease;
                                }
                            }
                        }
                    }
                }
                .center{
                    ul{
                        display: flex;
                        flex-direction: column;
                        li{
                            margin-bottom: 12px;
                            &:last-child{
                                margin-bottom: 0;
                            }
                            a{
                                color: #a29f9b;
                            }
                            &:hover{
                                a{
                                    color: #e94e38;
                                    transition: all 0.3s ease;
                                }
                            }
                        }
                    }
                }
                .right{
                    .four-icon{
                        margin: 25px 0 65px 0;
                        img{
                            cursor: pointer;
                            margin-right: 25px;
                            &:last-child{
                                margin-right: 0px;
                            }
                        }
                    }
                    h2{
                        font-size: 14px;
                    }
                }
            }
       }
    }
}
.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-co{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.right-green{
    background: #1baf5d;
}
.right-gray{
    background: #b6c0c1;
}
.right-ogreen{
    background: #f19e1f;
}
.right-purple{
    background: #a87cb4;
}
.green-border{
    border-top: 3px solid #1baf5d;
}
.ogreen-border{
    border-top: 3px solid #f19e1f;
}
.purple-border{
    border-top: 3px solid #a87cb4;
}
.color-green{
    color: #1baf5d;
}
.color-ogreen{
    color: #f19e1f;
}
.color-purple{
    color:#a87cb4;
}
.padd{
    margin-top: 18px;
}
