body {
  position: relative;
}

body .header {
  width: 1350px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  z-index: 4;
}

body .header .container-header {
  width: 1110px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .header .container-header .left h1 {
  font-weight: 600;
  font-size: 35px;
  color: #719cfe;
  text-shadow: 2px 5px 3px rgba(0, 0, 0, 0.06);
  font-family: 'Poppins', sans-serif;
}

body .header .container-header .right {
  width: 565px;
  height: 24px;
}

body .header .container-header .right ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .header .container-header .right ul li:hover .menu {
  display: block;
}

body .header .container-header .right ul li a {
  font-weight: 400;
  font-size: 16px;
  color: #000;
  letter-spacing: 2px;
  font-family: 'Dosis', sans-serif;
}

body .header .container-header .right ul li a i {
  font-size: 16px;
}

body .header .container-header .right ul li .menu {
  background: #fff;
  -webkit-box-shadow: 1px 1px 3px 3px #e0dcdc;
          box-shadow: 1px 1px 3px 3px #e0dcdc;
  padding-top: 10px;
  padding-bottom: 10px;
  display: none;
  -webkit-transform: translate(-20%);
          transform: translate(-20%);
  position: absolute;
}

body .header .container-header .right ul li .menu ul {
  padding: 10px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .header .container-header .right ul li .menu ul li {
  margin-bottom: 2px;
  margin-top: 2px;
}

body .header .container-header .right ul li .menu ul li a {
  font-weight: 400;
  font-size: 14px;
}

body .content {
  padding-top: 60px;
}

body .content .mini-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: url("https://demo.w3layouts.com/demos_new/template_demo/18-03-2019/my_school-demo_Free/1445343985/web/images/1.jpg");
  background-position: center;
  background-size: cover;
}

body .content .mini-content .title {
  margin-top: 120px;
  width: 600px;
  text-align: center;
}

body .content .mini-content .title h1 {
  font-size: 48px;
  letter-spacing: 1px;
  font-weight: 700;
  font-family: 'Lora', serif;
  color: #fff;
}

body .content .mini-content .title h1 span {
  font-size: 48px;
  letter-spacing: 1px;
  font-weight: 700;
  font-family: 'Lora', serif;
  color: #ff7f62;
}

body .content .mini-content .text {
  margin-bottom: 60px;
}

body .content .mini-content .text p {
  font-size: 16px;
  letter-spacing: 4px;
  font-family: 'Dosis', sans-serif;
  margin-top: 1rem;
  color: #fff;
}

body .content .mini-content .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .content .mini-content .form .left {
  width: 415px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 20px;
}

body .content .mini-content .form .left input {
  width: 100%;
  padding: 13px 13px 13px 15px;
  background: #fff;
  margin-bottom: 20px;
}

body .content .mini-content .form .left input::-webkit-input-placeholder {
  letter-spacing: 2px;
}

body .content .mini-content .form .right {
  margin-left: 20px;
  width: 415px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .content .mini-content .form .right input {
  width: 100%;
  padding: 13px 13px 13px 15px;
  background: #fff;
  margin-bottom: 20px;
}

body .content .mini-content .form .right input::-webkit-input-placeholder {
  letter-spacing: 2px;
}

body .content .mini-content .button {
  margin-top: 2em;
  margin-bottom: 8em;
}

body .content .mini-content .button button {
  cursor: pointer;
  padding: 20px 40px;
  background: #ff7f62;
  color: #fff;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 16px;
}

body .content .mini-content .button:hover {
  -webkit-transform: scaleX(1.1);
          transform: scaleX(1.1);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

body .content-2 {
  margin-top: 100px;
  margin-bottom: 80px;
}

body .content-2 .mini-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .content-2 .mini-content .title {
  font-size: 20px;
  color: #719cfe;
  font-weight: bold;
  font-family: 'Lora', serif;
  margin-bottom: 80px;
}

body .content-2 .mini-content .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .content-2 .mini-content .text .left {
  width: 540px;
  height: 400px;
  margin-right: 20px;
}

body .content-2 .mini-content .text .left img {
  width: 540px;
  height: 100%;
}

body .content-2 .mini-content .text .right {
  width: 500px;
  margin-left: 20px;
}

body .content-2 .mini-content .text .right h3 {
  font-size: 27px;
  line-height: 1.5;
  letter-spacing: 1px;
  font-family: 'Lora', serif;
  font-weight: 300;
}

body .content-2 .mini-content .text .right p {
  margin-top: 30px;
  letter-spacing: 1px;
  line-height: 1.9;
  color: #999;
  font-family: 'Dosis', sans-serif;
}

body .content-2 .mini-content .text .right hr {
  margin-top: 30px;
}

body .content-3 {
  background: url("https://demo.w3layouts.com/demos_new/template_demo/18-03-2019/my_school-demo_Free/1445343985/web/images/bg3.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

body .content-3 .mini-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .content-3 .mini-content .title {
  padding-top: 70px;
  margin-bottom: 100px;
}

body .content-3 .mini-content .title h1 {
  font-size: 40px;
  color: #fff;
  font-family: 'Lora', serif;
  font-weight: 700;
}

body .content-3 .mini-content .icon {
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1140px;
  height: 440px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .content-3 .mini-content .icon .child {
  width: 350px;
  height: 400px;
  background: #fff;
  margin: 20px;
}

body .content-3 .mini-content .icon .child .mini {
  padding-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

body .content-3 .mini-content .icon .child .mini i {
  background: #fff;
  border-radius: 50%;
  font-size: 2em;
  color: #ff7f62;
  width: 70px;
  height: 70px;
  line-height: 2.2;
  text-align: center;
  box-shadow: 7px 4px 5px rgba(0, 0, 0, 0.37);
  -webkit-box-shadow: 7px 4px 5px rgba(0, 0, 0, 0.37);
}

body .content-3 .mini-content .icon .child h3 {
  text-align: center;
  font-size: 23px;
  font-weight: 600;
  color: #000 !important;
  letter-spacing: .5px;
  font-family: 'Lora', serif;
  margin-bottom: 40px;
}

body .content-3 .mini-content .icon .child p {
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 1.9;
  color: #999;
  font-family: 'Dosis', sans-serif;
  padding-left: 50px;
}

body .content-3 .mini-content .icon .child .button {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .content-3 .mini-content .icon .child .button:hover {
  -webkit-transform: scaleX(1.1);
          transform: scaleX(1.1);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

body .content-3 .mini-content .icon .child .button button {
  color: #fff;
  font-size: 15px;
  display: inline-block;
  letter-spacing: 1px;
  background: #ff7f62;
  padding: 10px 16px;
  cursor: pointer;
  font-weight: 400;
  text-align: center;
  font-size: 14px;
}

body .content-3 .mini-content .icon .child .button button i {
  margin-left: 5px;
}

body .content-4 .mini-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .content-4 .mini-content .title {
  margin-top: 100px;
  margin-bottom: 80px;
}

body .content-4 .mini-content .title h1 {
  color: #719cfe;
  font-size: 40px;
  font-family: 'Lora', serif;
  font-weight: 700;
}

body .content-4 .mini-content .img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
}

body .content-4 .mini-content .img .mini-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .content-4 .mini-content .img .mini-img .container-img-1 {
  margin: 10px;
  width: 270px;
  height: 330px;
  background: url("https://demo.w3layouts.com/demos_new/template_demo/18-03-2019/my_school-demo_Free/1445343985/web/images/p1.jpg");
}

body .content-4 .mini-content .img .mini-img .container-img-1 .text {
  padding: 30px 0 0 40px;
}

body .content-4 .mini-content .img .mini-img .container-img-1 .text h2 {
  color: #fff;
  font-size: 24px;
  font-weight: 600;
  font-family: 'Lora', serif;
  letter-spacing: 1px;
  font-weight: 600;
}

body .content-4 .mini-content .img .mini-img .container-img-1 .text p {
  color: #eee;
  font-size: 14px;
  margin-top: 2px;
  letter-spacing: 1px;
}

body .content-4 .mini-content .img .mini-img .container-img-2 {
  margin: 10px;
  width: 270px;
  height: 330px;
  background: url("https://demo.w3layouts.com/demos_new/template_demo/18-03-2019/my_school-demo_Free/1445343985/web/images/p2.jpg");
}

body .content-4 .mini-content .img .mini-img .container-img-2 .text {
  padding: 30px 0 0 40px;
}

body .content-4 .mini-content .img .mini-img .container-img-2 .text h2 {
  color: #fff;
  font-size: 24px;
  font-weight: 600;
  font-family: 'Lora', serif;
  letter-spacing: 1px;
  font-weight: 600;
}

body .content-4 .mini-content .img .mini-img .container-img-2 .text p {
  color: #eee;
  font-size: 14px;
  margin-top: 2px;
  letter-spacing: 1px;
}

body .content-4 .mini-content .img .mini-img .container-img-3 {
  margin: 10px;
  width: 270px;
  height: 330px;
  background: url("https://demo.w3layouts.com/demos_new/template_demo/18-03-2019/my_school-demo_Free/1445343985/web/images/p3.jpg");
}

body .content-4 .mini-content .img .mini-img .container-img-3 .text {
  padding: 30px 0 0 40px;
}

body .content-4 .mini-content .img .mini-img .container-img-3 .text h2 {
  color: #fff;
  font-size: 24px;
  font-weight: 600;
  font-family: 'Lora', serif;
  letter-spacing: 1px;
  font-weight: 600;
}

body .content-4 .mini-content .img .mini-img .container-img-3 .text p {
  color: #eee;
  font-size: 14px;
  margin-top: 2px;
  letter-spacing: 1px;
}

body .content-4 .mini-content .img .mini-img .container-img-4 {
  margin: 10px;
  width: 270px;
  height: 330px;
  background: url("https://demo.w3layouts.com/demos_new/template_demo/18-03-2019/my_school-demo_Free/1445343985/web/images/p4.jpg");
}

body .content-4 .mini-content .img .mini-img .container-img-4 .text {
  padding: 30px 0 0 40px;
}

body .content-4 .mini-content .img .mini-img .container-img-4 .text h2 {
  color: #fff;
  font-size: 24px;
  font-weight: 600;
  font-family: 'Lora', serif;
  letter-spacing: 1px;
  font-weight: 600;
}

body .content-4 .mini-content .img .mini-img .container-img-4 .text p {
  color: #eee;
  font-size: 14px;
  margin-top: 2px;
  letter-spacing: 1px;
}

body .content-5 {
  margin-top: 150px;
  background: #719cfe;
  position: relative;
}

body .content-5 img {
  position: absolute;
  -webkit-transform: translate(20%, -30%);
          transform: translate(20%, -30%);
  z-index: 2;
}

body .content-5 .content {
  margin-top: 60px;
  padding-left: 500px;
  padding-bottom: 130px;
}

body .content-5 .content h1 {
  margin-top: 20px;
  font-size: 40px;
  letter-spacing: 1px;
  color: #212020;
  font-family: 'Lora', serif;
  font-weight: 700;
  margin-bottom: 40px;
}

body .content-5 .content .digital {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 740px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .content-5 .content .digital .child h2 {
  font-size: 4em;
  line-height: 1.2;
  font-family: 'Lora', serif;
  color: #fff;
  font-weight: 600;
  margin-bottom: 6px;
}

body .content-5 .content .digital .child p {
  letter-spacing: 1px;
  color: #f8f9fa;
  font-family: 'Dosis', sans-serif;
}

body .content-6 .mini-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .content-6 .mini-content .title {
  margin-top: 80px;
  margin-bottom: 70px;
}

body .content-6 .mini-content .title h1 {
  color: #719cfe;
  font-size: 40px;
  font-family: 'Lora', serif;
  font-weight: 700;
}

body .content-6 .mini-content .super-big {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .content-6 .mini-content .super-big .big {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .content-6 .mini-content .super-big .big .mini-1 {
  width: 380px;
  height: 380px;
  margin: 20px;
}

body .content-6 .mini-content .super-big .big .mini-1 h1 {
  margin-top: 40px;
  color: #343a40;
  font-family: 'Lora', serif;
  font-size: 1.75rem;
  font-weight: 500;
  line-height: 1.2;
}

body .content-6 .mini-content .super-big .big .mini-1 hr {
  margin-top: 30px;
  margin-bottom: 30px;
}

body .content-6 .mini-content .super-big .big .mini-1 p {
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 1.9;
  color: #999;
  font-family: 'Dosis', sans-serif;
}

body .content-6 .mini-content .super-big .big .super-2 {
  margin: 20px;
  width: 380px;
  height: 380px;
  background: #DDDDDD;
}

body .content-6 .mini-content .super-big .big .super-2 .foot {
  background: #EEEEEE;
  width: 380px;
  padding: 15px;
  margin-top: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .content-6 .mini-content .super-big .big .super-2 .foot .left p {
  color: #000;
  font-weight: bold;
}

body .content-6 .mini-content .super-big .big .super-2 .mini-2 {
  padding: 20px;
}

body .content-6 .mini-content .super-big .big .super-2 .mini-2 .button-1 {
  background: #719cfe;
}

body .content-6 .mini-content .super-big .big .super-2 .mini-2 .button-1 button {
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 1px;
  padding: 1em;
  cursor: pointer;
}

body .content-6 .mini-content .super-big .big .super-2 .mini-2 .button-1:hover {
  opacity: 0.8;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

body .content-6 .mini-content .super-big .big .super-2 .mini-2 p {
  color: #333;
  font-size: 15px;
  font-family: 'Dosis', sans-serif;
  line-height: 1.9;
}

body .content-6 .mini-content .super-big .big .super-2 .mini-2 .button-2 {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .content-6 .mini-content .super-big .big .super-2 .mini-2 .button-2:hover {
  -webkit-transform: scaleX(1.1);
          transform: scaleX(1.1);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

body .content-6 .mini-content .super-big .big .super-2 .mini-2 .button-2 button {
  color: #fff;
  font-size: 15px;
  display: inline-block;
  letter-spacing: 1px;
  background: #ff7f62;
  padding: 10px 16px;
  cursor: pointer;
  font-weight: 400;
  text-align: center;
  font-size: 14px;
}

body .content-6 .mini-content .super-big .big .super-2 .mini-2 .button-2 button i {
  margin-left: 5px;
}

body .content-6 .mini-content .super-big .big .super-2 .mini-2 hr {
  margin-top: 10px;
  margin-bottom: 30px;
}

body .content-7 {
  margin-bottom: 80px;
}

body .content-7 .mini-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .content-7 .mini-content .title {
  margin-top: 80px;
  margin-bottom: 70px;
}

body .content-7 .mini-content .title h1 {
  color: #719cfe;
  font-size: 40px;
  font-family: 'Lora', serif;
  font-weight: 700;
}

body .content-7 .mini-content .nine .img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .content-7 .mini-content .nine .img img {
  width: 360px;
  height: 240px;
  margin: 10px;
  cursor: pointer;
}

body .content-7 .mini-content .nine .img img:hover {
  opacity: 0.7;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

body .content-8 .mini-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: url("https://demo.w3layouts.com/demos_new/template_demo/18-03-2019/my_school-demo_Free/1445343985/web/images/bg2.jpg");
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

body .content-8 .mini-content .title {
  margin-top: 80px;
  margin-bottom: 70px;
}

body .content-8 .mini-content .title h1 {
  color: #fff;
  font-size: 40px;
  font-family: 'Lora', serif;
  font-weight: 700;
}

body .content-8 .mini-content .text {
  width: 620px;
  line-height: 1.8;
  color: #e4e4e4;
  font-family: 'Dosis', sans-serif;
  text-align: center;
  margin-bottom: 60px;
}

body .content-8 .mini-content .avt {
  margin-bottom: 100px;
}

body .content-8 .mini-content .avt img {
  border-radius: 50%;
}

body .content-8 .mini-content .avt p {
  margin-top: 35px;
  font-family: 'Lora', serif;
  color: #fff;
  font-weight: 700;
  font-size: 1.5rem;
}

body .content-9 {
  position: relative;
}

body .content-9 .mini-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .content-9 .mini-content .title {
  margin-top: 80px;
  margin-bottom: 70px;
}

body .content-9 .mini-content .title h1 {
  color: #719cfe;
  font-size: 40px;
  font-family: 'Lora', serif;
  font-weight: 700;
}

body .content-9 .mini-content .text {
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 1.9;
  color: #999;
  font-family: 'Dosis', sans-serif;
  margin-bottom: 60px;
}

body .content-9 .mini-content .down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 60px;
}

body .content-9 .mini-content .down .left {
  margin: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #fff;
  color: #000;
  padding: 12px 25px;
  -webkit-box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.15);
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 200;
  cursor: pointer;
}

body .content-9 .mini-content .down .left i {
  font-size: 25px;
  color: #ff7f62;
  margin-right: 20px;
}

body .content-9 .mini-content .down .left:hover {
  opacity: 0.8;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

body .content-9 .mini-content .down .right {
  margin: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #fff;
  color: #000;
  padding: 12px 25px;
  -webkit-box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.15);
  font-size: 16px;
  letter-spacing: 1px;
  cursor: pointer;
}

body .content-9 .mini-content .down .right:hover {
  opacity: 0.8;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

body .content-9 .mini-content .down .right i {
  font-size: 25px;
  color: #ff7f62;
  margin-right: 20px;
}

body .content-9 .mini-content .down .mid {
  cursor: pointer;
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #ff7f62;
  color: #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 1px;
  padding: 12px 25px;
  -webkit-box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.15);
}

body .content-9 .mini-content .down .mid:hover {
  opacity: 0.8;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

body .content-9 .mini-content .down .mid i {
  font-size: 25px;
  color: #fff;
  margin-right: 20px;
}

body .content-9 .icon {
  position: absolute;
  right: 0;
  bottom: 50%;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
}

body .content-9 .icon i {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  font-size: 140px;
  color: #ff7f62;
}

body .content-10 .mini-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: url("https://demo.w3layouts.com/demos_new/template_demo/18-03-2019/my_school-demo_Free/1445343985/web/images/bg1.jpg");
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

body .content-10 .mini-content .title {
  margin-top: 80px;
  margin-bottom: 70px;
}

body .content-10 .mini-content .title h1 {
  color: #fff;
  font-size: 40px;
  font-family: 'Lora', serif;
  font-weight: 700;
}

body .content-10 .mini-content .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 100px;
}

body .content-10 .mini-content .form .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .content-10 .mini-content .form .left input {
  margin: 8px;
  width: 540px;
  height: 50px;
  padding: 15px 15px;
  font-size: 14px;
  color: #000;
  background: #fff;
  letter-spacing: 1px;
}

body .content-10 .mini-content .form .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .content-10 .mini-content .form .right button {
  margin: 10px;
  padding: 15px 0;
  font-size: 14px;
  color: #fff;
  background: #719cfe;
  letter-spacing: 2px;
  font-weight: 600;
  width: 540px;
  height: 50px;
}

body .content-10 .mini-content .form .right button:hover {
  opacity: 0.6;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

body .content-10 .mini-content .form .right textarea {
  margin: 10px;
  width: 540px;
  height: 110px;
  padding: 15px 15px;
  font-size: 14px;
  color: #000;
  background: #fff;
  letter-spacing: 1px;
}

body .content-11 .mini-content {
  padding-bottom: 100px;
  padding-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #ff7f62;
}

body .content-11 .mini-content .big-child {
  width: 1140px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .content-11 .mini-content .big-child .child h1 {
  font-size: 24px;
  color: #fff;
  letter-spacing: .5px;
  font-weight: 600;
  font-family: 'Lora', serif;
  margin-bottom: 20px;
}

body .content-11 .mini-content .big-child .child p {
  color: #eee;
  font-size: 16px;
  letter-spacing: 1.5px;
  margin: 10px 0;
  font-weight: 400;
  font-family: 'Dosis', sans-serif;
}

body .content-11 .mini-content .big-child .child h2 {
  font-size: 44px;
  font-weight: 700;
  font-family: 'Lora', serif;
  color: #fff;
}

body .big-foot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #191919;
  width: 100%;
}

body .big-foot .foot {
  padding: 20px;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .big-foot .foot .left p {
  font-size: 14px;
  letter-spacing: 2px;
  color: #fff;
}

body .big-foot .foot .left p a {
  font-size: 14px;
  color: #ff7f62;
  letter-spacing: 2px;
}

body .big-foot .foot .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .big-foot .foot .right i {
  cursor: pointer;
  margin: 0 10px;
  color: #fff;
  font-size: 15px;
  width: 38px;
  height: 38px;
  text-align: center;
  line-height: 2.6;
  border-radius: 50%;
  border: 1px solid #212020;
}

body .big-foot .foot .right i:hover {
  -webkit-box-shadow: 0px 0px 13px 2px #ff7f62;
          box-shadow: 0px 0px 13px 2px #ff7f62;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

body .up {
  cursor: pointer;
  text-align: center;
  position: fixed;
  bottom: 3%;
  right: 2%;
  z-index: 0;
  background: #fff;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

body .up a {
  color: #000;
}
/*# sourceMappingURL=project6.css.map */