body{
    position: relative;
    .header{
        width: 1350px;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        z-index: 4;
        .container-header{
            width: 1110px;
            height: 60px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .left{
                h1{
                    font-weight: 600;
                    font-size: 35px;
                    color: #719cfe;
                    text-shadow: 2px 5px 3px rgba(0, 0, 0, 0.06);
                    font-family: 'Poppins', sans-serif;
                }
            }
            .right{
                width: 565px;
                height: 24px;
                ul{
                    display: flex;
                    justify-content: space-between;
                    li{
                        &:hover{
                            .menu{
                                display: block;
                            }
                        }
                        a{
                            font-weight: 400;
                            font-size: 16px;
                            color: #000;
                            letter-spacing: 2px;
                            font-family: 'Dosis', sans-serif;
                            i{
                                font-size: 16px;
                            }
                        }
                        .menu{
                            background: #fff;
                            box-shadow: 1px 1px 3px 3px rgb(224, 220, 220);
                            padding-top: 10px;
                            padding-bottom: 10px;
                            display: none;
                            transform: translate(-20%);
                            position: absolute;
                            ul{
                                
                                padding: 10px 20px;
                                display: flex;
                                flex-direction: column;
                                li{
                                    margin-bottom: 2px;
                                    margin-top: 2px;
                                    a{
                                        font-weight: 400;
                                        font-size: 14px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .content{
        padding-top: 60px;
        
        .mini-content{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            background: url("https://demo.w3layouts.com/demos_new/template_demo/18-03-2019/my_school-demo_Free/1445343985/web/images/1.jpg");
            background-position: center;
            background-size: cover;
            .title{
                margin-top: 120px;
                width: 600px;
                text-align: center;
                h1{
                    font-size: 48px;
                    letter-spacing: 1px;
                    font-weight: 700;
                    font-family: 'Lora', serif;
                    color: #fff;
                    span{
                        font-size: 48px;
                        letter-spacing: 1px;
                        font-weight: 700;
                        font-family: 'Lora', serif;
                        color: #ff7f62;
                    }
                }
            }
            .text{
                margin-bottom: 60px;
                p{
                    font-size: 16px;
                    letter-spacing: 4px;
                    font-family: 'Dosis', sans-serif;
                    margin-top: 1rem;
                    color: #fff;
    
                }
            }
            .form{
                display: flex;
                .left{
                    width: 415px;
                    display: flex;
                    flex-direction: column;
                    margin-right: 20px;
                    input{
                        width: 100%;
                        padding: 13px 13px 13px 15px;
                        background: #fff;
                        margin-bottom: 20px;
                    }
                    input::-webkit-input-placeholder{
                        letter-spacing: 2px;
                    }
                }
                .right{
                    margin-left: 20px;
                    width: 415px;
                    display: flex;
                    flex-direction: column;
                    input{
                        width: 100%;
                        padding: 13px 13px 13px 15px;
                        background: #fff;
                        margin-bottom: 20px;
                    }
                    input::-webkit-input-placeholder{
                        letter-spacing: 2px;
                    }
                }
            }
            .button{
                margin-top: 2em;
                margin-bottom: 8em;
                button{
                    cursor: pointer;
                    padding: 20px 40px;
                    background: #ff7f62;
                    color: #fff;
                    font-weight: bold;
                    letter-spacing: 1px;
                    font-size: 16px;
                }
                &:hover{
                    transform: scaleX(1.1);
                    transition: all 0.3s ease-in-out;
                }
            }
        }
    }
    .content-2{
            margin-top: 100px;
            margin-bottom: 80px;
        .mini-content{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            .title{
                font-size: 20px;
                color: #719cfe;
                font-weight: bold;
                font-family: 'Lora', serif;
                margin-bottom: 80px;
            }
            .text{
                display: flex;
                .left{
                    width: 540px;
                    height: 400px;
                    margin-right: 20px;
                    img{
                        width: 540px;
                        height: 100%;
                    }
                }
                .right{
                    width: 500px;
                    margin-left: 20px;
                    h3{
                        font-size: 27px;
                        line-height: 1.5;
                        letter-spacing: 1px;
                        font-family: 'Lora', serif;
                        font-weight: 300;
                    }
                    p{
                        margin-top: 30px;
                        letter-spacing: 1px;
                        line-height: 1.9;
                        color: #999;
                        font-family: 'Dosis', sans-serif;
                    }
                    hr{
                        margin-top: 30px;
                    }
                }
            }
        }
    }
    .content-3{
       
        background: url("https://demo.w3layouts.com/demos_new/template_demo/18-03-2019/my_school-demo_Free/1445343985/web/images/bg3.jpg");
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        .mini-content{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            .title{
                padding-top: 70px;
                margin-bottom: 100px;
                h1{
                    font-size: 40px;
                    color: #fff;
                    font-family: 'Lora', serif;
                    font-weight: 700;
                }
            }
            .icon{
                margin-bottom: 50px;
                display: flex;
                width: 1140px;
                height: 440px;
                justify-content: center;
                align-items: center;
                .child{
                    width: 350px;
                    height: 400px;
                    background: #fff;
                    margin: 20px;
                    .mini{
                        padding-top: 50px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin-bottom: 30px;
                        i{
                            
                            background: #fff;
                            border-radius: 50%;
                            font-size: 2em;
                            color: #ff7f62;
                            width: 70px;
                            height: 70px;
                            line-height: 2.2;
                            text-align: center;
                            box-shadow: 7px 4px 5px rgba(0, 0, 0, 0.37);
                            -webkit-box-shadow: 7px 4px 5px rgba(0, 0, 0, 0.37);
                        }
                    }
                    h3{
                        text-align: center;
                        font-size: 23px;
                        font-weight: 600;
                        color: #000 !important;
                        letter-spacing: .5px;
                        font-family: 'Lora', serif;
                        margin-bottom: 40px;
                    }
                    p{
                        font-size: 16px;
                        letter-spacing: 1px;
                        line-height: 1.9;
                        color: #999;
                        font-family: 'Dosis', sans-serif;
                        padding-left: 50px;
                    }
                  .button{
                      margin-top: 40px;
                      display: flex;
                      align-items: center;
                      justify-content: center;
                      &:hover{
                          transform: scaleX(1.1);
                          transition: all 0.3s ease-in-out;
                      }
                    button{
                        color: #fff;
                        font-size: 15px;
                        display: inline-block;
                        letter-spacing: 1px;
                        background: #ff7f62;
                        padding: 10px 16px;
                        cursor: pointer;
                        font-weight: 400;
                        text-align: center;
                        font-size: 14px;
                        i{
                            margin-left: 5px;
                        }
                    }
                  }
                }
            }
        }
    }
    .content-4{
        .mini-content{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .title{
                margin-top: 100px;
                margin-bottom: 80px;
                h1{
                    color: #719cfe;
                    font-size: 40px;
                    font-family: 'Lora', serif;
                    font-weight: 700;
                }
            }
            .img{
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 40px;
                .mini-img{
                    display: flex;
                    .container-img-1{
                        margin: 10px;
                        width: 270px;
                        height: 330px;
                        background: url("https://demo.w3layouts.com/demos_new/template_demo/18-03-2019/my_school-demo_Free/1445343985/web/images/p1.jpg");
                        .text{
                            padding: 30px 0 0 40px;
                            h2{
                                color: #fff;
                                font-size: 24px;
                                font-weight: 600;
                                font-family: 'Lora', serif;
                                letter-spacing: 1px;
                                font-weight: 600;
                            }
                            p{
                                color: #eee;
                                font-size: 14px;
                                margin-top: 2px;
                                letter-spacing: 1px;
                            }
                        }
                    }
                    .container-img-2{
                        margin: 10px;
                        width: 270px;
                        height: 330px;
                        background: url("https://demo.w3layouts.com/demos_new/template_demo/18-03-2019/my_school-demo_Free/1445343985/web/images/p2.jpg");
                        .text{
                            padding: 30px 0 0 40px;
                            h2{
                                color: #fff;
                                font-size: 24px;
                                font-weight: 600;
                                font-family: 'Lora', serif;
                                letter-spacing: 1px;
                                font-weight: 600;
                            }
                            p{
                                color: #eee;
                                font-size: 14px;
                                margin-top: 2px;
                                letter-spacing: 1px;
                            }
                        }
                    }
                    .container-img-3{
                        margin: 10px;
                        width: 270px;
                        height: 330px;
                        background: url("https://demo.w3layouts.com/demos_new/template_demo/18-03-2019/my_school-demo_Free/1445343985/web/images/p3.jpg");
                        .text{
                            padding: 30px 0 0 40px;
                            h2{
                                color: #fff;
                                font-size: 24px;
                                font-weight: 600;
                                font-family: 'Lora', serif;
                                letter-spacing: 1px;
                                font-weight: 600;
                            }
                            p{
                                color: #eee;
                                font-size: 14px;
                                margin-top: 2px;
                                letter-spacing: 1px;
                            }
                        }
                    }
                    .container-img-4{
                        margin: 10px;
                        width: 270px;
                        height: 330px;
                        background: url("https://demo.w3layouts.com/demos_new/template_demo/18-03-2019/my_school-demo_Free/1445343985/web/images/p4.jpg");
                        .text{
                            padding: 30px 0 0 40px;
                            h2{
                                color: #fff;
                                font-size: 24px;
                                font-weight: 600;
                                font-family: 'Lora', serif;
                                letter-spacing: 1px;
                                font-weight: 600;
                            }
                            p{
                                color: #eee;
                                font-size: 14px;
                                margin-top: 2px;
                                letter-spacing: 1px;
                            }
                        }
                    }
                }
            }
        }
    }
    .content-5{
        margin-top: 150px;
        background: #719cfe; 
        position: relative; 
        img{
            position: absolute;
            transform: translate(20%,-30%);
            z-index: 2;
        }   
        .content{
            margin-top: 60px;
            padding-left: 500px;
            padding-bottom: 130px;
            h1{
                margin-top: 20px;
                font-size: 40px;
                letter-spacing: 1px;
                color: #212020;   
                font-family: 'Lora', serif;
                font-weight: 700;
                margin-bottom: 40px;
            }
            .digital{
                display: flex;
                width: 740px;
                justify-content: space-between;
                .child{
                    h2{
                        font-size: 4em;
                        line-height: 1.2;
                        font-family: 'Lora', serif;
                        color: #fff;
                        font-weight: 600;
                        margin-bottom: 6px;
                    }
                    p{
                        letter-spacing: 1px;
                        color: #f8f9fa;
                        font-family: 'Dosis', sans-serif;
                    }
                }
            }
        }
    }
    .content-6{
        .mini-content{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .title{
                margin-top: 80px;
                margin-bottom: 70px;
                h1{
                    color: #719cfe;
                    font-size: 40px;
                    font-family: 'Lora', serif;
                    font-weight: 700;
                }
            }
           .super-big{
               display: flex;
               justify-content: space-between;
               align-items: center;
            .big{
                display: flex;
                justify-content: space-between;
                .mini-1{
                    width: 380px;
                    height: 380px;
                    margin: 20px;
                    h1{
                        margin-top: 40px;
                        color: #343a40;
                        font-family: 'Lora', serif;
                        font-size: 1.75rem;
                        font-weight: 500;
                        line-height: 1.2;
                    }
                    hr{
                        margin-top: 30px;
                        margin-bottom: 30px;
                    }
                    p{
                        font-size: 16px;
                        letter-spacing: 1px;
                        line-height: 1.9;
                        color: #999;
                        font-family: 'Dosis', sans-serif;
                    }
                }
               .super-2{
                margin: 20px;
                width: 380px;
                height: 380px;
                background: #DDDDDD;
                .foot{
                    background: #EEEEEE;
                    width: 380px;
                    padding: 15px;
                    margin-top: 35px;
                    display: flex;
                    justify-content: space-between;
                    .left{
                        p{
                            color: #000;
                            font-weight: bold;
                        }
                    }
                }
                .mini-2{
                    padding: 20px;
                    .button-1{
                        background: #719cfe;
                        button{
                            color: #fff;
                            font-weight: 400;
                            font-size: 16px;
                            letter-spacing: 1px;
                            padding: 1em;
                            cursor: pointer;
                        }
                        &:hover{
                            opacity: 0.8;
                            transition: all 0.3s;
                        }
                    }
                    p{
                        color: #333;
                        font-size: 15px;
                        font-family: 'Dosis', sans-serif;
                        line-height: 1.9;
                    }
                    .button-2{
                        margin-top: 40px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        &:hover{
                            transform: scaleX(1.1);
                            transition: all 0.3s ease-in-out;
                        }
                      button{
                          color: #fff;
                          font-size: 15px;
                          display: inline-block;
                          letter-spacing: 1px;
                          background: #ff7f62;
                          padding: 10px 16px;
                          cursor: pointer;
                          font-weight: 400;
                          text-align: center;
                          font-size: 14px;
                          i{
                              margin-left: 5px;
                          }
                      }
                    }
                    hr{
                        margin-top: 10px;
                        margin-bottom: 30px;
                    }
                }
               }
            }
           }
        }
    }
    .content-7{
        margin-bottom: 80px;
        .mini-content{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            .title{
                margin-top: 80px;
                margin-bottom: 70px;
                h1{
                    color: #719cfe;
                    font-size: 40px;
                    font-family: 'Lora', serif;
                    font-weight: 700;
                }
            }
            .nine{
                .img{
                    display: flex;
                    img{
                        width: 360px;
                        height: 240px;
                        margin: 10px;
                        cursor: pointer;
                        &:hover{
                            opacity: 0.7;
                            transition: all 0.3s ease-in-out;
                            
                        }
                    }
                }
            }
        }
    }
    .content-8{
        .mini-content{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            background: url("https://demo.w3layouts.com/demos_new/template_demo/18-03-2019/my_school-demo_Free/1445343985/web/images/bg2.jpg");
            background-position: center center;
            background-size: cover;
            background-attachment: fixed;
            .title{
                margin-top: 80px;
                margin-bottom: 70px;
                h1{
                    color: #fff;
                    font-size: 40px;
                    font-family: 'Lora', serif;
                    font-weight: 700;
                }
            }
            .text{
                width: 620px;
                line-height: 1.8;
                color: #e4e4e4;
                font-family: 'Dosis', sans-serif;
                text-align: center;
                margin-bottom: 60px;
            }
            .avt{
                margin-bottom: 100px;
                img{
                    border-radius: 50%;
                }
                p{
                    margin-top: 35px;
                    font-family: 'Lora', serif;
                    color: #fff;
                    font-weight: 700;
                    font-size: 1.5rem;
                }
            }
        }
    }
    .content-9{
        position: relative;
        .mini-content{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
                .title{
                    margin-top: 80px;
                    margin-bottom: 70px;
                        h1{
                        color: #719cfe;
                        font-size: 40px;
                        font-family: 'Lora', serif;
                        font-weight: 700;
                        }
                }
                .text{
                    font-size: 16px;
                    letter-spacing: 1px;
                    line-height: 1.9;
                    color: #999;
                    font-family: 'Dosis', sans-serif;
                    margin-bottom: 60px;
                }
                .down{
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 60px;
                    .left{
                        margin: 10px;
                        align-items: center;
                        display: flex;
                        background: #fff;
                        color: #000;
                        padding: 12px 25px;
                        -webkit-box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.15);
                        font-size: 16px;
                        letter-spacing: 1px;
                        font-weight: 200;
                        cursor: pointer;
                        i{
                            font-size: 25px;
                            color: #ff7f62; 
                            margin-right: 20px; 
                        }
                        &:hover{
                            opacity: 0.8;
                            transition: all 0.3s ease-in-out;
                        }
                    }
                    .right{
                        margin: 10px;
                        align-items: center;
                        display: flex;
                        background: #fff;
                        color: #000;
                        padding: 12px 25px;
                        -webkit-box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.15);
                        font-size: 16px;
                        letter-spacing: 1px;
                        cursor: pointer;
                        &:hover{
                            opacity: 0.8;
                            transition: all 0.3s ease-in-out;
                        }
                        i{
                            font-size: 25px;
                            color: #ff7f62; 
                            margin-right: 20px; 
                        }
                    }
                    .mid{
                        &:hover{
                            opacity: 0.8;
                            transition: all 0.3s ease-in-out;
                        }
                        cursor: pointer;
                        margin: 10px;
                        display: flex;
                        background: #ff7f62;
                        color: #fff;
                        align-items: center;
                        letter-spacing: 1px;
                        padding: 12px 25px;
                        -webkit-box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.15);
                        i{
                            font-size: 25px;
                            color: #fff; 
                            margin-right: 20px; 
                        }
                    }
                }
            }
            .icon{
                position: absolute;
                right: 0;
                bottom: 50%;
                transform: translate(-50%,50%);
                i{
                    transform: rotate(45deg);
                    font-size: 140px;
                    color: #ff7f62;
                }
            }
    }
    .content-10{
        .mini-content{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            background: url("https://demo.w3layouts.com/demos_new/template_demo/18-03-2019/my_school-demo_Free/1445343985/web/images/bg1.jpg");
            background-position: center center;
            background-size: cover;
            background-attachment: fixed;
            .title{
                margin-top: 80px;
                margin-bottom: 70px;
                h1{
                    color: #fff;
                    font-size: 40px;
                    font-family: 'Lora', serif;
                    font-weight: 700;
                }
            }
            .form{
                display: flex;
                padding-bottom: 100px;
                .left{
                   
                    display: flex;
                    flex-direction: column;
                    input{
                        margin: 8px;
                        width: 540px;
                        height: 50px;
                        padding: 15px 15px;
                        font-size: 14px;
                        color: #000;
                        background: #fff;
                        letter-spacing: 1px;
                    }
                }
                .right{
                    display: flex;
                    flex-direction: column;
                   button{
                    margin: 10px;
                    padding: 15px 0;
                    font-size: 14px;
                    color: #fff;
                    background: #719cfe;
                    letter-spacing: 2px;
                    font-weight: 600;
                    width: 540px;
                    height: 50px;
                    &:hover{
                        opacity: 0.6;
                        transition: all 0.3s ease-in-out;
                        cursor: pointer;
                    }
                   }
                    textarea{
                        margin: 10px;
                        width: 540px;
                        height: 110px;
                        padding: 15px 15px;
                        font-size: 14px;
                        color: #000;
                        background: #fff;
                        letter-spacing: 1px;
                    }
                }
            }
        }
    }
    .content-11{
        .mini-content{
            padding-bottom: 100px;
            padding-top: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
            background: #ff7f62;
            .big-child{
                width: 1140px;
                justify-content: space-between;
                display: flex;
                .child{
                    h1{
                        font-size: 24px;
                        color: #fff;
                        letter-spacing: .5px;
                        font-weight: 600;
                        font-family: 'Lora', serif;
                        margin-bottom: 20px;
                    }
                    p{
                        color: #eee;
                        font-size: 16px;
                        letter-spacing: 1.5px;
                        margin: 10px 0;
                        font-weight: 400;
                        font-family: 'Dosis', sans-serif;
                    }
                    h2{
                        font-size: 44px;
                        font-weight: 700;
                        font-family: 'Lora', serif;
                        color: #fff;
                    }
                }
            }
        }
    }
    .big-foot{
        display: flex;
        justify-content: center;
        align-items: center;
        background: #191919;
        width: 100%;
        .foot{
            padding: 20px;
            width: 90%;
            display: flex;
            justify-content: space-between;
            .left{
                p{
                    font-size: 14px;
                    letter-spacing: 2px;
                    color: #fff;
                    a{
                        font-size: 14px;
                        color: #ff7f62;
                        letter-spacing: 2px;
                    }
                }
            }
            .right{
                display: flex;
                justify-content: space-between;
                i{
                    &:hover{
                        box-shadow: 0px 0px 13px 2px #ff7f62;
                        transition: all 0.3s ease-in-out;
                    }
                    cursor: pointer;
                    margin: 0 10px;
                    color: #fff;
                    font-size: 15px;
                    width: 38px;
                    height: 38px;
                    text-align: center;
                    line-height: 2.6;
                    border-radius: 50%;
                    border: 1px solid #212020;
                }
            }
        }
    }
    .up{
        cursor: pointer;
        text-align: center;
        position: fixed;
        bottom: 3%;
        right: 2%;
        z-index: 0;
        background: #fff;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        a{
            color: #000;
        }
    }
}